In [20]:
#import libraries 
import yfinance as yf
import pandas as pd
import numpy as np

In [21]:
stocks = ["AMZN", "MSFT", "GOOGL"]
stocks_data = yf.download(stocks, start="2010-01-01", end="2020-12-31") #download stock data from yahoo finance
close_price = stocks_data["Close"] #show "Close" price of the stock data 
display(close_price)

[*********************100%%**********************]  3 of 3 completed

                  AMZN      GOOGL        MSFT
Date
2010-01-04    6.695000  15.684434   30.950001
2010-01-05    6.734500  15.615365   30.959999
2010-01-06    6.612500  15.221722   30.770000
2010-01-07    6.500000  14.867367   30.450001
2010-01-08    6.676000  15.065566   30.660000
...                ...        ...         ...
2020-12-23  159.263504  86.411499  221.020004
2020-12-24  158.634506  86.708000  222.750000
2020-12-28  164.197998  88.697998  224.960007
2020-12-29  166.100006  87.888000  224.149994
2020-12-30  164.292496  86.812500  221.679993

[2768 rows x 3 columns]

In [22]:
stocks_daily_returns = close_price.pct_change() #calculate daily returns of each stock 
stocks_daily_returns = stocks_daily_returns.dropna() #drop all "NaN" values from the data 
display(stocks_daily_returns)

                AMZN     GOOGL      MSFT
Date
2010-01-05  0.005900 -0.004404  0.000323
2010-01-06 -0.018116 -0.025209 -0.006137
2010-01-07 -0.017013 -0.023280 -0.010400
2010-01-08  0.027077  0.013331  0.006897
2010-01-11 -0.024041 -0.001512 -0.012720
...              ...       ...       ...
2020-12-23 -0.006627  0.004656 -0.013039
2020-12-24 -0.003949  0.003431  0.007827
2020-12-28  0.035071  0.022951  0.009921
2020-12-29  0.011584 -0.009132 -0.003601
2020-12-30 -0.010882 -0.012237 -0.011019

[2767 rows x 3 columns]

In [23]:
#create #(50% Amazon, 50% Microsoft), (50% Amazon, 50% Google), (50% Microsoft, 50% Google) [portfolio]
stocks_portfolio = pd.DataFrame({
    "Amazon-Microsoft": 0.5 * stocks_daily_returns["AMZN"] + 0.5 * stocks_daily_returns["MSFT"],
    "Amazon-Google": 0.5 * stocks_daily_returns["AMZN"] + 0.5 * stocks_daily_returns["GOOGL"],
    "Microsoft-Google": 0.5 * stocks_daily_returns["MSFT"] + 0.5 * stocks_daily_returns["GOOGL"]
})

display(stocks_portfolio)

            Amazon-Microsoft  Amazon-Google  Microsoft-Google
Date
2010-01-05          0.003111       0.000748         -0.002040
2010-01-06         -0.012126      -0.021662         -0.015673
2010-01-07         -0.013706      -0.020146         -0.016840
2010-01-08          0.016987       0.020204          0.010114
2010-01-11         -0.018381      -0.012776         -0.007116
...                      ...            ...               ...
2020-12-23         -0.009833      -0.000985         -0.004191
2020-12-24          0.001939      -0.000259          0.005629
2020-12-28          0.022496       0.029011          0.016436
2020-12-29          0.003991       0.001226         -0.006366
2020-12-30         -0.010951      -0.011560         -0.011628

[2767 rows x 3 columns]

In [24]:
#CV || (std/mean)% for each portfolio 
amazon_microsoft_cv = stocks_portfolio["Amazon-Microsoft"].std() / stocks_portfolio["Amazon-Microsoft"].mean()
amazon_google_cv = stocks_portfolio["Amazon-Google"].std() / stocks_portfolio["Amazon-Google"].mean()
microsoft_google_cv = stocks_portfolio["Microsoft-Google"].std() / stocks_portfolio["Microsoft-Google"].mean()

#create list of CV values and varibale names
cv_values = [amazon_microsoft_cv, amazon_google_cv, microsoft_google_cv]
portfolio_names = ["Amazon-Microsoft", "Amazon-Google", "Microsoft-Google"]

#find the minimum CV value and its variable name
min_cv_value = min(cv_values)
min_cv_index = cv_values.index(min_cv_value)
min_cv = portfolio_names[min_cv_index]

print(f"Coefficient Variation of Amazon-Microsoft Portfolio: {amazon_microsoft_cv:.2f}")
print(f"Coefficient Variation of Amazon-Google Portfolio: {amazon_google_cv:.2f}")
print(f"Coefficient Variation of Microsoft-Google Portfolio: {microsoft_google_cv:.2f}")
print(f"The most effective CV portfolio is '{min_cv}' with a value of {min_cv_value:.2f}") 

#you can use precision for round off  instead of an f string .2f

Coefficient Variation of Amazon-Microsoft Portfolio: 14.36
Coefficient Variation of Amazon-Google Portfolio: 15.32
Coefficient Variation of Microsoft-Google Portfolio: 18.24
The most effective CV portfolio is 'Amazon-Microsoft' with a value of 14.36

In [25]:
#Sharpe Ratio || (Rx – Rf) / StdDev Rx for each portfolio 

risk_free_rate = 0.01 / 360 #assuming the risk-free returns is 1% per year (360 days)

amazon_microsoft_sharpe = (stocks_portfolio["Amazon-Microsoft"].mean() - risk_free_rate) / stocks_portfolio["Amazon-Microsoft"].std()
amazon_google_sharpe = (stocks_portfolio["Amazon-Google"].mean() - risk_free_rate) / stocks_portfolio["Amazon-Google"].std()
microsoft_google_sharpe = (stocks_portfolio["Microsoft-Google"].mean() - risk_free_rate) / stocks_portfolio["Microsoft-Google"].std()

#create a list of sharpe values and varibale names
sharpe_values = [amazon_microsoft_sharpe, amazon_google_sharpe, microsoft_google_sharpe]
portfolio_names_sharpe = ["Amazon-Microsoft", "Amazon-Google", "Microsoft-Google"]

#find the maximum sharpe value and its variable name
max_sharpe_value = max(sharpe_values)
max_sharpe_index = sharpe_values.index(max_sharpe_value)
max_sharpe = portfolio_names_sharpe[max_sharpe_index]

print(f"Sharpe Ratio of Amazon-Microsoft Portfolio: {amazon_microsoft_sharpe:.2f}")
print(f"Sharpe Ratio of Amazon-Google Portfolio: {amazon_google_sharpe:.2f}")
print(f"Sharpe Ratio of Microsoft-Google Portfolio: {microsoft_google_sharpe:.2f}")
print(f"The best portfolio based on Sharpe Ratio is '{max_sharpe}' with a value of {max_sharpe_value:.2f}")

Sharpe Ratio of Amazon-Microsoft Portfolio: 0.07
Sharpe Ratio of Amazon-Google Portfolio: 0.06
Sharpe Ratio of Microsoft-Google Portfolio: 0.05
The best portfolio based on Sharpe Ratio is 'Amazon-Microsoft' with a value of 0.07